{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Direct Access</h1>
            </div>

            <div id="status">
                <ul>
                    <li><a href="{{ path('client_index') }}">Clients</a></li>
                    <li><a href="{{ path('clothe_index') }}">Clothes</a></li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}